<h1>bonjour!
	<h1></hr>
	<h2>Veuillez confirmer votre email!</h2>
	<p>
		Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant:
		<a href="{{ signedUrl|raw }}">Je confirme mon email</a>.</p>
</br>
Ce lien expire dans
{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p><hr><p>Votre confidentialité est importante pour nous - toutes vos informations sont stockées en toute sécurité et ne sont accessibles que par vous. Vos informations seront stockées et utilisées qu’en conformité avec notre politique de protection des données personnelles.
		Nous nous réjouissons de partager l’univers de eShop.com avec vous.</p><h3>Merci de nous avoir rejoints sur eShop.com!</h3>
