{% extends 'base.html.twig' %}

{% block title %}eShop &copy | site officiel
{% endblock %}

{% block body %}
	{{ include('partials/title_section.html.twig', {titre}) }}
	<div class="main_content"></div>
{% endblock %}
